@import "tailwindcss";

@theme inline {
  /* FONTS */
  --font-dm-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
  --font-eb-garamond: "EB Garamond", ui-serif, Georgia, serif;
  /* COLORS */
  --color-main-red: oklch(0.42 0.169 25.17);
  --color-main-red-hover: oklch(0.3269 0.1311 23.61);
  --color-gray: oklch(0.83 0 0);
}

@layer base {
  .markdown h2 {
    margin-block: --spacing(4);
    font-family: var(--font-dm-sans);
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-2xl);
  }
}
